<main>
  

    <div class="edit-container">

        <form action="/{{item._id}}" method="POST">
        <div>
            <label for="name">Name: </label>
            <input name="name" id="i_name" placeholder="What is the name of this item?">
        </div>
        <div>
            <label for="description">Item Description: </label>
            <input name="description" id="i_name" placeholder="describe this item...">
        </div>
        <div>
            <label for="image_url"> Image URL:  </label>
            <input name="image_url" id="i_image" placeholder="What is the name of this item?">
        </div>
        
        <div>
            <label for="category"> Category  </label>
            <input name="category" id="i_image" placeholder="Select a category...">
        </div>
        
        <div>
            <label for="price"> Price  </label>
            <input name="price" id="i_image" placeholder="$$$">
        </div>
        <div>
            <button> Submit </button>
        </div>
        </form>
        
        
        <form action="/{{item._id}}?_method=DELETE" method="POST">
        
        <div>
            <button style="width: 7vw; font-size: 1rem; background-color:red;"> Delete Permanently? </button>
        </div>
        </form>


    </div>

    <div class="edit_container" >
            <div class="tile is-parent" style="width:350px;" >
                <article class="tile is-child notification is-success">
                    <p class="title">  {{item.name}}  </p>
                    <p class="subtitle">  {{item.description}}  </p>
                    <figure class="image_inner_container" class="image is-4by3">
                        <img class="shop_grid_images"  src={{item.image_url}}>
                    </figure>
                    <p class="subtitle"> ${{item.price}}  </p>
                    <a href="/{{item._id}}">
                        <i class="fas fa-edit fa-3x"></i>
                    </a>
                </article>
            </div>
    </div>
</main>
