<main>
  

    <div class="create_container">

        <form action="/" method="post">
        <div class="field">
            <label class="label" for="name">Name: </label>
            <input class="input" name="name" id="i_name" placeholder="What is the name of this item?">
        </div>
        <div class="field">
            <label class="label" for="description">Item Description: </label>
            <input class="input" name="description" id="i_name" placeholder="describe this item...">
        </div>
        <div class="field">
            <label class="label" for="image_url"> Image URL:  </label>
            <input class="input" name="image_url" id="i_image" placeholder="What is the name of this item?">
        </div>
        
        <div class="field">
            <label class="label" for="category"> Category  </label>
            <input class="input" name="category" id="i_image" placeholder="Select a category...">
        </div>
        
        <div class="field">
            <label class="label" for="price"> Price  </label>
            <input class="input" name="price" id="i_image" placeholder="$$$">
        </div>
        <div class="field">
            <button class="button is-link">Submit </button>
        </div>
        </form>


    </div>

    <div class="items_container" >

        {{#each items}}
            

            <div class="tile is-parent image_outer_container" style="width:350px;" >
                <article class="tile is-child notification is-success">
                    <p class="title">  {{name}}  </p>
                    <p class="subtitle">  {{description}}  </p>
                    <figure class="image_inner_container" class="image is-4by3">
                        <a href="item/{{_id}}">
                            <img class="shop_grid_images"  src={{image_url}}>
                        </a>
                    </figure>
                    <p class="subtitle"> ${{price}}  </p>

                    
                    <div class="edit_button_container">

                        <a href="/{{_id}}">
                            <i class="fas fa-edit fa-3x"></i>
                        </a>
                        <a href="/{{_id}}">
                            <i class="fas fa-trash-alt fa-3x"></i>
                        </a>
                    </div>
                </article>
            </div>

        {{/each}}

        
    </div>

</main>
