<main>
  

    <div class="edit_container" >
            <div class="tile is-parent" style="width:350px;" >
                <article class="tile is-child notification is-success">
                    <p class="title">  {{item.name}}  </p>
                    <p class="subtitle">  {{item.description}}  </p>
                    <figure class="image_inner_container" class="image is-4by3">
                        <img class="shop_grid_images"  src={{item.image_url}}>
                    </figure>
                    <p class="subtitle"> ${{item.price}}  </p>
                    <a href="/{{item._id}}">
                        <i class="fas fa-edit fa-3x"></i>
                    </a>
                </article>
            </div>
    </div>


    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
{{log item.reviews}}
{{log item}}
        {{#each item.reviews}}
            <div class="media-content">
                <div class="content">
                <p>
                    <strong>{{author}} Barbara Streisand</strong>
                    <br>
                    {{message}}
                    <br>
                    <small><a>Like</a> · <a>Reply</a> · 3 hrs</small>
                </p>
            </div>
        {{/each}}

    
    <article class="media">
        <figure class="media-left">
            <p class="image is-64x64">
            <img src="https://bulma.io/images/placeholders/128x128.png">
            </p>
        </figure>
        <div class="media-content">
            <div class="field">
            <p class="control">
                <textarea class="textarea" placeholder="Add a comment..."></textarea>
            </p>
            </div>
            <div class="field">
            <p class="control">
                <a href="/{{_id}}">
                <button class="button">Post comment</button>
                </a>
            </p>
            </div>
        </div>
    </article>

</main>
